{extend name="public/base"/}
{block name="main"}
<h2 class="text-center">Installation is complete</h2>
<div class="row margin-top">
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="https://finddata.io" target="_blank">FindData.IO</a></li>
			<li class="list-group-item"><a href="https://github.com/finddataio" target="_blank">Source Code</a></li>
		</ul>
	</div>
	<div class="col-sm-6">
		<ul class="list-group">
			<li class="list-group-item"><a href="https://ipfs.io" target="_blank">IPFS</a></li>
			<li class="list-group-item"><a href="https://polkadot.network" target="_blank">Polkadot</a></li>
		</ul>
	</div>
</div>

<hr>
<div class="margin-top">
	<div class="text-center">
	    <a class="btn btn-primary" target="" href="{:url('admin/Index/Index')}">Get Started!</a>&nbsp;&nbsp;&nbsp;&nbsp;
	    <a class="btn btn-success" target="_blank" href="/" style="display: none;">Home</a>
	</div>
</div>
{/block}